.container {
  padding: 2% 5%;
  width: 100%;
  margin: 0;
}

.helpCard {
  border: 0.1rem solid rgb(180, 180, 180);
  text-shadow: 1px 1px #727272;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45vh;
  padding: 10%;
  border-radius: 10%;
  color: white;
  text-align: center;
  background-image: url("../../Assets/latestnews.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease;
}

.helpCard:hover {
  transform: scale(1.05);
  color: rgb(130, 188, 255);
  background-color: black;
  background-image: none;
  text-shadow: none;
}

.infoCard {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.4rem !important;
  font-family: "Josefin Sans", sans-serif !important;
  font-weight: 600;
}
