#root,
html,
body {
  height: 100vh;
}

body {
  margin: 0;
  background-color: whitesmoke;
  background-image: url("./Assets/background.jpeg");
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  background-color: white;
}

.heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem !important;
  margin: 0.5rem 0 0 0;
}

.icon {
  height: 4rem;
  margin-right: 0.5rem;
}
